/* BACKGROUND */
body {
  margin: 0;
  font-family: Arial;
  color: #00ffff;
  background: radial-gradient(circle at top, #001a33, #000000 70%);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #050505;
  box-shadow: 0 0 15px #00ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar button {
  margin: 20px 0;
  font-size: 20px;
  background: none;
  border: none;
  color: #00ffff;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  text-shadow: 0 0 10px #00ffff;
  transform: scale(1.2);
}

/* MAIN */
.main {
  margin-left: 70px;
  padding: 20px;
}

/* TITLE */
h1 {
  text-shadow: 0 0 15px #00ffff;
}

/* CARDS */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.card {
  padding: 15px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ffff;
  box-shadow: 0 0 15px #00ffff;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 25px #00ffff;
  transform: scale(1.02);
}

/* GRAPH */
.chart-container {
  width: 100%;
  max-width: 500px;
  height: 250px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px #00ffff;
}

/* BUTTON */
.connect-btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: linear-gradient(45deg, #00ffff, #0077ff);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  box-shadow: 0 0 15px #00ffff;
  transition: 0.3s;
}

.connect-btn:hover {
  box-shadow: 0 0 30px #00ffff;
  transform: scale(1.1);
}

/* STATUS */
#status {
  margin-top: 15px;
  font-size: 18px;
  text-shadow: 0 0 10px #00ffff;
}

/* AI CHAT */
#chatBox {
  height: 200px;
  overflow-y: auto;
  border: 2px solid #00ffff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #00ffff;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.chart-container {
  width: 45%;
  height: 250px;
  display: inline-block;
  margin: 10px;
}
/* NORMAL */
.card {
  border: 2px solid #00ffff;
  box-shadow: 0 0 10px #00ffff;
}

/* DANGER */
.danger {
  border: 2px solid red !important;
  box-shadow: 0 0 20px red !important;
}

/* SAFE */
.safe {
  border: 2px solid #00ffff;
  box-shadow: 0 0 10px #00ffff;
}
